<div class="app-container">
  <div class="loading-overlay" *ngIf="loadingService.loading$()">
    <app-scanner-animation></app-scanner-animation>
  </div>

  <div class="app-layout" 
       [class.has-fixed-elements]="exibirNavbar"
       [class.com-barra-processar]="isNotasMFE$ | async">

    <lib-navbar
      *ngIf="exibirNavbar"
      [userData]="userData"
      [showNavBottom]="true"
      (logout)="sair()">
    </lib-navbar>

    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>