<div class="screen-container" *ngIf="!isLoggedIn">
    <mat-card class="login-card">
        <mat-card-content>
            <div class="logo-wrapper">
                <img src="/assets/img/favicon.svg" alt="Ícone AllMarket" class="main-icon">
            </div>

            <div class="brand-section">
                <div class="brand-name">All<span class="text-blue">M@rket</span></div>
                <h3 class="main-title">
                    EXTRAIA. ESCANEIE.<br>
                    <span class="text-blue">ECONOMIZE.</span>
                </h3>
            </div>

            <div class="google-slot">
                <div id="google-btn-container"></div>
            </div>

            <p class="welcome-text">
                <span class="sparkle">✨</span> Conecte-se e deixe nossa<br>
                <span class="black-italic">inteligência trabalhar por você</span>,<br>
                transformando cada nota em <span class="text-blue-bold">dados que protegem seu bolso.</span>
            </p>
        </mat-card-content>
    </mat-card>

    <div class="copyright-footer">
        © 2026 ALLM@RKET
    </div>
</div>

<ng-container *ngIf="isLoggedIn">
    <lib-navbar [userData]="userData" [showNavBottom]="false" (logout)="sair()"></lib-navbar>

    <div class="main-content">
        <app-home *ngIf="!temNotas" [user]="userData"></app-home>

        <div *ngIf="temNotas" class="loading-state">
            <p>Redirecionando...</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

</ng-container>