<div class="home-container">
    <section id="historicoSec" class="animate-in">
        <div class="header-info">
            <p class="contador-notas">
                {{ todasAsNotas.length }} NOTAS ENCONTRADAS
            </p>
        </div>

        <div class="search-wrapper">
            <mat-form-field appearance="outline" class="busca-input">
                <mat-label>Buscar estabelecimento...</mat-label>
                <input matInput (keyup)="filtrarHistorico($event)" placeholder="Ex: Farmácia">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="lista-grid">
            <div *ngFor="let nota of notasExibidas" class="nota-item-container">
                <app-nota-detalhes 
                    [nota]="nota" 
                    (excluir)="handleDeleteNota($event)"
                    (fechar)="onCloseDetails()">
                </app-nota-detalhes>
            </div>
        </div>

        <div class="container-ver-mais" *ngIf="temMaisNotas">
            <button mat-button color="primary" (click)="mostrarMaisNotas()" class="btn-ver-mais">
                VER NOTAS ANTERIORES
            </button>
        </div>
    </section>
</div>