.home-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.contador-notas {
  font-size: 10px;
  color: #2563eb;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 16px;
}

.search-wrapper {
  width: 100%;
  margin-bottom: 24px;

  .busca-input {
    width: 100%;
    
    ::ng-deep .mat-mdc-form-field-flex {
      background-color: white !important;
      border-radius: 16px !important;
    }
    
    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none; // Esconde o espaço de erro para compactar
    }
  }
}

.lista-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

.container-ver-mais {
  margin-top: 32px;
  display: flex;
  justify-content: center;

  .btn-ver-mais {
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: underline;
  }
}

.animate-in {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}