<mat-card class="result-card animate-in" *ngIf="nota">
  <div class="card-header-accent"></div>
  
  <mat-card-header>
    <div class="header-main">
      <div class="title-group">
        <mat-card-title class="loja-nome">
          {{ nota.estabelecimento?.nome_fantasia || nota.estabelecimento?.nome }}
        </mat-card-title>
        <div class="sub-info">
          <span class="endereco">{{ nota.estabelecimento?.endereco }}</span>
          <span class="cnpj-text" *ngIf="nota.estabelecimento?.cnpj">CNPJ: {{ nota.estabelecimento?.cnpj }}</span>
        </div>
      </div>
      <button mat-icon-button (click)="fecharNota()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
   <div class="nota-meta-data">
  <p class="info-data">
    {{ nota.data_emissao }} | TOTAL: {{ nota.valor_total | currency:'BRL' }}
  </p>
  <span class="meta-label">CHAVE DE ACESSO</span>
  
  <div class="linha-chave">
    <p class="chave-texto">{{ nota.chave }}</p>

    <button id="btn-excluir-nota" mat-icon-button (click)="removerNota(nota.chave)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

  <div class="itens-agrupados" *ngIf="nota.itens">
  <div *ngFor="let grupo of nota.itens | groupBy:'categoria'" class="categoria-section">
    <div class="categoria-header">
      <mat-icon>{{ getIcon(grupo.key) }}</mat-icon>
      <span>{{ grupo.key || 'OUTROS' }}</span>
      <span class="count-badge">{{ grupo.value.length }}</span>
    </div>

    <div class="item-row" *ngFor="let item of grupo.value">
      <div class="item-main">
        <span class="nome">{{ item.nome | uppercase }}</span>
        <span class="detalhes">{{ item.quantidade }} {{ item.unidade }}</span>
      </div>
      <div class="item-preco">
        {{ item.preco_total | currency:'BRL' }}
      </div>
    </div>
  </div>
</div>
  </mat-card-content>
</mat-card>